<!-- <div *ngFor="let post of posts">
    <p>{{post.id}}</p>
    <p>{{post.name}}</p>
    <p>{{post.role}}</p>
    <p>{{post.house}}</p>
    <p>{{post.school}}</p>
    <hr>
</div> -->
<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Huf" #input>
</mat-form-field>
<mat-table [dataSource]="posts" class="mat-elevation-z8">
    <!-- Position Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="role">
      <mat-header-cell *matHeaderCellDef> Role </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.role}} </mat-cell>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="house">
      <mat-header-cell *matHeaderCellDef> House </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.house}} </mat-cell>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="school">
      <mat-header-cell *matHeaderCellDef> School </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.school}} </mat-cell>
    </ng-container>

     <!-- Symbol Column -->
     <ng-container matColumnDef="bloodStatus">
        <mat-header-cell *matHeaderCellDef> Blood Status </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.bloodStatus}} </mat-cell>
      </ng-container> 
       <!-- Symbol Column -->
     <ng-container matColumnDef="species">
        <mat-header-cell *matHeaderCellDef> Species </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.species}} </mat-cell>
      </ng-container> 

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>